sudo pacman -Syyu && sudo pacman -S sway foot rofi waybar starship fish swaybg swaylock swayidle rofi-wayland wl-clipboard cliphist wireplumber pavucontrol networkmanager otf-font-awesome ttf-jetbrains-mono-nerd noto-fonts noto-fonts-cjk noto-fonts-emoji fnm firefox steam dolphin ark mpv imv git micro jdk-openjdk fuse opencode flatpak podman podman-compose ufw timeshift
