* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border: none;
}

window#waybar {
    background: rgba(20, 20, 31, 0.9);
    border-radius: 0px;
    color: #cad3f5;
}

#workspaces button {
    color: #ffffff;
    padding: 0 12px;
}

#workspaces button:hover {
    color: #000;
    padding: 0 12px;
}

#workspaces button.focused {
    color: #ffffff;
    background: rgba(198, 160, 246, 0.3);
    border-bottom: 3px solid #ffffff;
}

#clock, #pulseaudio, #network, #cpu, #memory {
    background: #363a4f;
    color: #ffffff;
    padding: 0 15px;
    margin: 4px 3px;
    border-radius: 8px;
}

#network.disconnected {
    background: #ed8796;
    color: #24273a;
}

#custom-power {
    background: #ed8796;
    color: #24273a;
    padding: 0 15px;
    margin: 4px;
    border-radius: 8px;
    font-weight: bold;
}

#custom-clipboard {
    background: #363a4f;
    color: #ffffff;
    padding: 0 15px;
    margin: 4px 3px;
    border-radius: 8px;
    font-size: 16px;
}

#custom-clipboard:hover {
    background: #363a4f;
    color: #ffffff;
}

/* Aggiungi questo insieme agli altri moduli come #clock, #pulseaudio, ecc. */
#battery {
    background: #363a4f; /* Colore surface */
    color: #ffffff;      /* Colore Mauve */
    padding: 0 15px;
    margin: 4px 3px;
    border-radius: 8px;
}

#battery.charging, #battery.plugged {
    color: #a6da95; /* Verde per quando è in carica */
}

#battery.critical:not(.charging) {
    background-color: #ed8796; /* Rosso per batteria critica */
    color: #24273a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
